.navStyle{
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    
}

.navStyle span{
    color:#ABDBE3;
}

a{
    margin-right: 50px;
}

.sign{
 color:#989a9c;
}

.sign:hover{
    color:#C7C8C9;
}