.navStyle{
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    
    
}

.navStyle span{
    color:#ABDBE3;
}

nav a.active{
    color:#fff;
 
}

a{
    text-decoration: none;
    color:#08C6F9;
    font-size: 19px;
    margin-right: 40px; 
}
a:hover{
    color:#08C6F9;
}


  /* .active1{
    color:#08C6F9;
 }

 .active1:hover{
    color:#08C6F9;
} */

/* 
nav a.active1{
    color:#fff;
 
}  */