
.book{
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    color: #ffffff;
    /* color: #fff; */
    width: 150px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    transition: all .4s ease-out;
}
.book:hover{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    cursor: pointer;

}


.product{
    margin-top: 50px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px 10px 10px;
    text-align: center;
   
    
   
}

